<div class="header">
    <a href="/todo"><button>Create new todo</button></a>
    <a href="/toggle-theme"><button>Toggle Style</button></a>
</div>
<div class="sort-container">
    <a href="/sort?by=title"><button class="
        {{#if_eq orderBy "title"}}
            selected
        {{/if_eq}}
    ">Name
        {{#if_eq orderBy "title"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=duedate"><button class="
        {{#if_eq orderBy "duedate"}}
            selected
        {{/if_eq}}
    ">By Due Date
        {{#if_eq orderBy "duedate"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=creationdate"><button class="
        {{#if_eq orderBy "creationdate"}}
            selected
        {{/if_eq}}
    ">By Creation Date
        {{#if_eq orderBy "creationdate"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=importance"><button class="
        {{#if_eq orderBy "importance"}}
            selected
        {{/if_eq}}
    ">By Importance
        {{#if_eq orderBy "importance"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/filter-completed" id="filter-completed-button"><button class="
        {{#if_eq filterCompleted true}}
            selected
        {{/if_eq}}
    ">Filter Completed
        {{#if_eq filterCompleted true}}
            &#10003;
        {{/if_eq}}
        {{#if_eq filterCompleted false}}
            &#10005;
        {{/if_eq}}
    </button></a>
</div>
{{#each todoList}}
<div class="todo-container">
    <span class="duedate-field">{{get_relative_date this.duedate}}</span>
    <span class="title-field">{{this.title}}</span>
    <span class="importance-field">{{{get_nof_lightnings this.importance}}}</span>
    <span class="finished-field">{{{visualize_finished this.finished}}}</span>
    <span class="description-field">{{this.description}}</span>
    <a href="/todo?id={{this._id}}" class="edit-button"><button class="edit-button">Edit</button></a>
</div>
<hr>
{{/each}}