<div>
    <a href="/todo"><button>Create new todo</button></a>
    <button>Toggle Style</button>
</div>
<div>
    <button>Name</button>
    <button>By Due Date</button>
    <button>By Creation Date</button>
    <button>By Importance</button>
    <button>Filter Completed</button>
</div>
<table>
    {{#each todoList}}
    <tr>
        <td> {{get_relative_date this.duedate}} </td>
        <td> {{this.title}} </td>
        <td> {{get_nof_lightnings this.importance}} </td>
        <td rowspan="2"><a href="/todo?id={{this._id}}"><button>Edit</button></a></td>
    </tr>
        <td> {{this.finished}} </td>
        <td> {{this.description}} </td>
        <td></td>
        <td></td>
    <tr>
    {{/each}}
</table>