<div>
    <a href="/todo"><button>Create new todo</button></a>
    <form action="/toggle-theme" method="post">
        <input type="hidden" name="theme" value="{{get_other_theme theme}}">
        <button type="submit">Toggle Style</button>
    </form>
</div>
<div>
    <a href="/sort?by=title"><button>Name
        {{#if_eq orderBy "title"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=duedate"><button>By Due Date
        {{#if_eq orderBy "duedate"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=creationdate"><button>By Creation Date
        {{#if_eq orderBy "creationdate"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <a href="/sort?by=importance"><button>By Importance
        {{#if_eq orderBy "importance"}}
            {{#if_eq orderDirection 1}}
                &#9650;
            {{/if_eq}}
            {{#if_eq orderDirection -1}}
                &#9660;
            {{/if_eq}}
        {{/if_eq}}
    </button></a>
    <button>Filter Completed</button>
</div>
<table>
    {{#each todoList}}
    <tr>
        <td> {{get_relative_date this.duedate}} </td>
        <td> {{this.title}} </td>
        <td> {{{get_nof_lightnings this.importance}}} </td>
        <td rowspan="2"><a href="/todo?id={{this._id}}"><button>Edit</button></a></td>
    </tr>
        <td> {{this.finished}} </td>
        <td> {{this.description}} </td>
        <td></td>
        <td></td>
    <tr>
    {{/each}}
</table>