{{#with todoValues}}
<form action="/todo" method="post">
    <label for="title">Title</label><br>
    <input type="text" id="title-input" name="title" required value="{{title}}"><br>

    <label for="importance">Importance</label><br>
    <input type="number" id="importance-input" name="importance" min="1" max="5" required value="{{importance}}"><br>

    <label for="duedate">Due Date</label><br>
    <input type="date" id="duedate-input" name="duedate" required value="{{duedate}}"><br>

    <label for="finished">Finished</label><br>
    <input type="checkbox" id="finished-input" name="finished" {{#if finished}}checked{{/if}}><br>

    <label for="description">Description</label><br>
    <input type="text" id="description-input" name="description" required value="{{description}}"><br>

    <input type="text" id="id" name="id" hidden value="{{_id}}">
{{/with}}
    <input type="submit" name="action" value="{{createOrUpdate}}">
    <input type="submit" name="action" value="{{createOrUpdate}} & Overview">
</form>
<a href="/"><button>Overview</button></a>